.singleProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .productContainer {
        display: flex;
        gap: 20px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 12px;
        max-width: 768px;
        margin: auto;
        border: 1px solid #e2e8f0;
        background-color: #f3f4f6;

        @media screen and (max-width: 992px) {

            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 380px;
        }

        .imageContainer {
            width: 65%;
            background-color: #f3f4f6;
            display: flex;
            align-items: center;
            justify-content: center;


            img {
                border-radius: 12px;
                max-height: 450px;
            }

            @media screen and (max-width: 992px) {

                width: 100%;

            }

        }

        .product {
            width: 65%;
            background-color: #f9fafb;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 12px;

            @media screen and (max-width: 992px) {

                width: 100%;
            }

            .detail {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .stock {
                    display: flex;
                    align-items: center;
                    color: #4b5563;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 4px;

                    span {
                        color: #6b7280;
                        font-weight: 400;
                        margin-left: 4px;
                    }
                }

                .actionBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 12px;
                    border-radius: 12px;
                    font-size: 16px;
                    line-height: 20px;
                    background-color: #60a5fa;
                    color: #1f2937;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 20px;
                height: 100%;

                @media screen and (max-width: 992px) {
                    gap: 10px;
                }

                .title {
                    font-weight: 900;
                    color: #1f2937;
                    font-size: 30px;
                    line-height: 36px;
                    text-align: center;

                    @media screen and (max-width: 992px) {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }

                .description {
                    color: #6b7280;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;

                    @media screen and (max-width: 992px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                .price {
                    font-size: 20px;
                    line-height: 28px;
                    color: #1f2937;
                }
            }
        }
    }
}