.home {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);

    .box {
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f3ff;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        &.box1 {
            grid-column: span 4;
            grid-row: span 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 20px;
            overflow-x: auto;

        }

        &.box2 {
            grid-column: span 1;
            grid-row: span 2;
        }
    }
}